{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container">
    <br>
    <div class="row">

        <div class="col-sm-4 col-md-4 col-xs-1">
            <div class="media">
                <img style="border-radius:170px;width:170px;height:170px" class="rounded-circle"
                    src="{{ user.profile.profile_pic.url }}">
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-xs-10">

            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <a class="btn btn-outline-info" href="/update/profile/{{user.id}}">Edit Profile</a>

                <br>
                <br>

                <p>{{profile.bio}}</p>
                <p>{{profile.contact}}</p>

            </div>
        </div>
    </div>

    <hr>
    <p style="text-align:center;">PROJECTS</p>
    <hr>
<br>

    {% for image in images %}
    
    <div class="row">


        <div class="col-sm-2 col-md-2 col-xs-1"></div>

        <div class="col-sm-8 col-md-8 col-xs-10 ">
            <div class="card-group">

                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <a href="{%url 'project' image.id %}"><img class="card-img-top" style="height: 500px !important"
                            src="{{image.screenshot.url}}" alt=""></a>
                    <div class="card-body">
                        <p>Sitename:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{image.site_name}}</b></p>
                        <p>Description:&nbsp;&nbsp;&nbsp;<b>{{image.description}}</b></p>
                        <p>Technology: &nbsp; <b>{{image.technologies}}</b></p>
                        <p>URL:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><a
                                    style="text-decoration: none; color:#D81B60;"
                                    href="{{image.url}}">View
                                    Site</a></b></p>



                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="col-sm-2 col-md-2 col-xs-1"></div>
    <br>
    <br>
    {%endfor%}

</div>

{% endblock %}