{%extends 'base.html'%}
{% block content %}
<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-sm-1 col-md-2 col-xs-1"></div>
        <div class="col-sm-8 col-md-8 col-xs-1 shadow p-3 mb-5 bg-white rounded">

            {% if projects%}
            <h2>Found {{ site_name|length }} of site_name {{message}}</h2>
            {% else %}
            <h2> Found 0 projects for the project. {{message}}</h2>
            {% endif %}
        </div>
        <div class="col-sm-1 col-md-2 col-xs-1"></div>
    </div>


    {% for project in projects %}
    <div class="row">
        <div class="col-sm-2 col-md-2 col-xs-1"></div>

        <div class="col-sm-8 col-md-8 col-xs-10">
            <div class="card-group">

                <div class="card">
                    <div style=" height: 500px !important">

                        <img src="{{project.screenshot.url}}" class="img-thumbnail" style="height: 240px !important"
                            data-toggle="modal" data-target="#myModal{{project.id}}" alt="" />

                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-xs-1"></div>
                {%endfor%}

               
            </div>
               {% endblock %}